    <p>
       <small> <%= raw(@active_admin_import_model.hint)  %> </small>
    </p>
<%= semantic_form_for @active_admin_import_model ,  :url => {:action => :do_import}, :html => {:multipart => true} do |f| %>
    <%= f.inputs do %>
    <%= f.input :file, :as=>:file %>
    <% end %>
     <%= f.actions do %>
    <%= f.action :submit , :label =>"Import" ,:button_html => { :disable_with => "Wait..." }%>
        <% end %>
<% end %>